@{
    ViewBag.Title = "Home Page";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Portal Cargos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Cargos", "Index", "Cargo")</li>
                <li>@Html.ActionLink("Usuários", "Index", "Usuario")</li>
            </ul>
        </div>
    </div>
</div>

<div class="jumbotron">
    <h1>Crie e edite cargos e usuários</h1>
    <p class="lead">Na aba Cargos, veja todos os cargos cadastrados, cadastre novos e ative/desative cargos conforme sua necessidade.</p>
    <p class="lead">Na aba Usuários, veja todos os usuários cadastrados, cadastre novos e ative/desative usuários conforme sua necessidade.</p>
</div>