<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Usuário não encontrado</title>
</head>
<body>
    <hgroup>
        <h2>Usuário não encontrado. Verifique se o nome foi digitado corretamente.</h2>
    </hgroup>
    <div>
        @Html.ActionLink("Voltar", "Login")
    </div>
</body>
</html>
